body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}
main {
  max-width: 650px;
  margin: 32px auto;
  padding: 0 24px;
}
a {
  color: deepskyblue;
  text-decoration: none;
}
article {
  margin: 0 auto;
  max-width: 650px;
}

/* Header styles */
.Header-header {
  padding: 24px 32px;
  margin-bottom: 32px;
  text-align: center;
}
.Header-h1 {
  font-weight: 100;
}
.Header-nav {
  max-width: 650px;
  margin: 0 auto;
}
.Header-navLink {
  font-size: 18px;
  margin-right: 16px;
}
.Header-isActive {
  font-weight: bold;
  text-decoration: underline;
}

/* Home */
.Home-ul {
  padding: 0;
}
.Home-li {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border: 1px solid #eee;
  overflow: hidden;
  border-radius: 5px;
}
.Home-link {
  display: flex;
  color: #000;
}
.Home-link:hover {
  box-shadow: 1px 1px 5px #999;
}
.Home-placeholder {
  background-color: #eee;
  min-width: 100px;
  margin-right: 24px;
}
.Home-img {
  display: block;
  height: 100%;
}
.Home-showMoreWrapper {
  display: flex;
  justify-content: center;
}
.Home-button {
  width: 100%;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px 24px;
  background: deepskyblue;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.Home-button:disabled{
  background: grey;
  cursor: not-allowed;
}

/* About */
.About-infoHeader {
  text-align: center;
}
.About-img {
  height: 120px;
  width: auto;
}
.About-author {
  margin-bottom: 72px;
}

/* Post */
.Post-placeholder {
  height: 366px;
  background-color: #eee;
}